﻿@model IEnumerable<WineStoreConnection.HangSanXuat>
@{
    Layout = null;
}
<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              
                    <div class="brand-wrapper">
               
                    <div class="brand-list">
@foreach (var item in Model)
{
                        <a href="@Url.Action("Index", "Producer", new { id = @item.MaHangSanXuat})"><img src="~/Access/@item.LogoURL" alt=""></a>
}
                    </div>
                  
                </div>
                    
              
                
            </div>
        </div>
    </div>
</div> <!-- End brands area -->

