﻿@model IEnumerable<WineStoreConnection.ChiTietDonDatHang>

@using (Html.BeginForm("Save", "QLDDH", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="content">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3 class="animated fadeInLeft">ADMIN</h3>
                    <p class="animated fadeInDown">
                        <a href="~/Admin/TypeOfProductAdmin">QL Đơn Đặt Hàng</a><span class="fa-angle-right fa"> </span>Chi Tiết ĐĐH
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-md-12 top-20 padding-0">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading"><h4>Chi tiết đơn đặt hàng : @ViewBag.MaDDH</h4></div>
                    <div class="panel-body">
                        <div class="form-horizontal">                           
                            <div class="form-group" style="margin-top:20px">
                                <label class="col-sm-2 control-label text-right">Tên khách hàng</label>
                                <div class="col-sm-10"><input type="text" placeholder="@ViewBag.Ten" disabled="disabled" class="form-control" /></div>
                            </div>
                            <div class="form-group" style="margin-top:10px">
                                <label class="col-sm-2 control-label text-right">Địa chỉ</label>
                                <div class="col-sm-10"><input type="text" placeholder="@ViewBag.DC" disabled="disabled" class="form-control" /></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Số điện thoại</label>
                                <div class="col-sm-10"><input type="text" placeholder="@ViewBag.DT" disabled="disabled" class="form-control" /></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Email</label>
                                <div class="col-sm-10"><input type="text" placeholder="@ViewBag.Email" disabled="disabled" class="form-control" /></div>
                            </div>
                        </div>
                        <div class="responsive-table" style="margin-top:50px">
                            <table id="datatables-example" class="table table-striped table-bordered" style="width:100%;" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Đơn giá</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><img src="~/Access/@WineStoreBUS.BUS.DDHBUS.LoadHinhSP(item.MaSanPham)" width="70" style="display:block" /> @WineStoreBUS.BUS.DDHBUS.LoadTenSP(item.MaSanPham)</td>
                                            <td>@item.SoLuong.ToString("#,##0")</td>
                                            <td>@item.GiaBan.ToString("#,##0")</td>
                                            <td>@item.ThanhTien.ToString("#,##0")</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<!-- end: content -->