﻿@model IEnumerable<WineStoreConnection.DonDatHang>
@{
    IEnumerable<WineStoreConnection.TinhTrang> tt = WineStoreBUS.BUS.DDHBUS.List();
}
<!-- start: content -->
<!-- start: Content -->
<div id="content">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">ADMIN</h3>
                <p class="animated fadeInDown">
                    <a href="~/Admin/QLDDH">QL Đơn Đặt Hàng</a><span class="fa-angle-right fa"> </span>Danh Sách ĐĐH
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading"><h3><a href="~/Admin/QLDDH">Danh sách đơn đặt hàng</a></h3></div>
                <div class="panel-body">
                    <div class="responsive-table">
                        <table id="datatables-example" class="table table-striped table-bordered" style="width:100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Mã ĐĐH</th>
                                    <th>Ngày lập</th>
                                    <th>Tổng tiền</th>
                                    <th>Tình trạng</th>
                                    <th>Khách hàng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.ActionLink(item.MaDonDatHang, "Details", new { id = item.MaDonDatHang }) </td>
                                        <td>@Html.DisplayFor(m => item.NgayLap)</td>
                                        <td>@item.TongThanhTien.ToString("#,##0")</td>

                                        <td>@Html.DropDownListFor(m => item.MaTinhTrang, new SelectList(tt, "MaTinhTrang", "TenTinhTrang", item.MaTinhTrang), new { style = "margin-top:0; width:200px",id = "TinhTrang_"+@item.MaDonDatHang})</td>


                                        <td>
                                            @WineStoreBUS.BUS.DDHBUS.LoadName(item.MaTaiKhoan)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ascontent : -->
