﻿@using Microsoft.AspNet.Identity;
@using WineStoreConnection;
@model List<DoAnASP.Models.CartItems>
@{
    ViewBag.Title = "Index";
    var total = 0;
   
    
    System.Globalization.CultureInfo cul = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");


    var db = new WineStoreConnectionDB();
    WineStoreConnection.AspNetUser user = db.SingleOrDefault<WineStoreConnection.AspNetUser>("Select * from AspNetUsers where Id=@0", User.Identity.GetUserId());
   
    
    
    
}


<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Cart</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">


           


            @if(ViewBag.ThongBao == 1)
            {
                <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success" role="alert">Đặt Hàng Thành Công  !!!</div>
                        </div>

                    </div>
                
            }
            @if(ViewBag.ThongBao==3)
            {
                
                <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger" role="alert">Bạn phải đăng nhập mới được đặt hàng  !!!</div>
                        </div>

                    </div>
            }

                    


             
            <div class="col-md-10 col-md-offset-1">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <form method="post" action="@Url.Action("Update","Cart")" name="frmCart" id="frmCart">

                            <input type="hidden" value="" id="txtDelProId" name="txtDelProId" />
                            <input type="hidden" value="" id="txtUpdProId" name="txtUpdProId" />
                            <input type="hidden" value="" id="txtUpdQ" name="txtUpdQ" />
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                    <tr>

                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Sản phẩm </th>
                                        <th class="product-price">Giá </th>
                                        <th class="product-quantity">Số Lượng </th>
                                        <th class="product-subtotal">Tổng tiền</th>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-remove">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>

                                   @foreach(var item in Model)
                                   {
                                       var amount = item.Product.GiaSanPham * item.Quantity;
                                       <tr class="cart_item">


                                        <td class="product-thumbnail">
                                            <a href="@Url.Action("Detail", "Product", new { id = item.Product.MaSanPham})"><img width="145" height="145" alt="@item.Product.TenSanPham" class="shop_thumbnail" src="~/Access/@item.Product.HinhURL1"></a>
                                        </td>

                                        <td class="product-name">
                                            <a href="">@item.Product.TenSanPham</a>
                                        </td>

                                        <td class="product-price">
                                            <span class="amount">
                                                 @item.Product.GiaSanPham.ToString("#,###", cul.NumberFormat)  VNĐ </span>
                                        </td>

                                        <td class="product-quantity">
                                            <div class="quantity">
                                                <input id="txtQuantity_@item.Product.MaSanPham" type="text" value="@item.Quantity" />
                                            </div>
                                        </td>

                                        <td class="product-subtotal">
                                            <span class="amount">
                                              
                                           @amount.ToString("#,###", cul.NumberFormat)  VNĐ
                                        </span>
                                        </td>
                                        <td class="product-remove">
                                            <a title="Remove this item" class="remove" href="#" id="btnDelete_@item.Product.MaSanPham" data-proid="@item.Product.MaSanPham">×</a>
                                        </td>
                                        <td>

                                            <a class="btn btn-primary btn-xs" title="Update this item" href="#" role="button" title="Cập nhật" id="btnUpdate_@item.Product.MaSanPham" data-proid="@item.Product.MaSanPham">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </td>
                                    </tr>
                                      total += amount;
                                   }
                                    
                                    
                                </tbody>
                            </table>
                        </form>
                      


                        
                       
                        <div class="cart-collaterals">
                        @if (Request.IsAuthenticated)
                        {
                            <form method="post" action="" name="frmOrder" id="frmOrder" class="shipping_calculator cd-form">
                                <input type="hidden" name="txtTotal" value="@total" />
                                <h2><a class="shipping-calculator-button" data-toggle="collapse" href="#calcalute-shipping-wrap" aria-expanded="false" aria-controls="calcalute-shipping-wrap">Thanh toán </a></h2>


                                <p class="fieldset">
                                    <label class="image-replace cd-email" for="useraddress">Địa chỉ  </label>
                                    <input class="full-width has-padding has-border" name="useraddress" id="useraddress" type="text" placeholder="Địa chỉ " value="@user.Address">
                                    <span class="cd-error-message">Chưa có địa chỉ vui lòng nhập vào  </span>
                                </p>
                                <p class="fieldset">
                                    <label class="image-replace cd-email" for="nameuser">Họ Tên  </label>
                                    <input class="full-width has-padding has-border" name="nameuser" id="nameuser" type="text" placeholder="Họ Tên  " value="@user.Name">
                                    <span class="cd-error-message">Chưa Nhập Họ và Tên  </span>
                                </p>


                                <p class="fieldset">
                                    <label class="image-replace cd-email" for="phonenumber">Số Điện thoại  </label>
                                    <input class="full-width has-padding has-border" name="phonenumber" id="phonenumber" type="text" placeholder="Số Điện thoại" value="@user.Phone">
                                    <span class="cd-error-message">Chưa có số điện thoại  </span>
                                </p>





                                <p><button class="button" value="1" id="btnPay" name="btnPay" type="submit">Giao dịch </button></p>

                            </form>
}

                            <div class="cross-sells">

                            </div>


                            <div class="cart_totals ">
                                <h2>Giỏ hàng </h2>

                                <table cellspacing="0">
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Tổng tiền hàng  </th>
                                            <td><span class="amount">@total.ToString("#,###", cul.NumberFormat)  VNĐ</span></td>
                                        </tr>

                                        <tr class="shipping">
                                            <th>Phí giao hàng </th>
                                            <td>Miễn phí </td>
                                        </tr>

                                        <tr class="order-total">
                                            <th>Tổng thành tiền </th>
                                            <td><strong><span class="amount">@total.ToString("#,###", cul.NumberFormat)VNĐ</span></strong> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>





                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>