﻿@model Admin.ViewModel.ProductViewModels
@{
    IEnumerable<WineStoreConnection.HangSanXuat> hsx = WineStoreBUS.BUS.ProducerBUS.List();
    IEnumerable<WineStoreConnection.LoaiSanPham> lsp = WineStoreBUS.BUS.LoaiSPBUS.List();
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="content">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3 class="animated fadeInLeft">ADMIN</h3>
                    <p class="animated fadeInDown">
                        <a href="~/Admin/Admin">QL Sản Phẩm </a><span class="fa-angle-right fa"></span> Thêm
                    </p>
                </div>
            </div>
        </div>
        <div class="form-element">
            <div class="col-md-12 padding-0">
                <div class="col-md-8">
                    <div class="panel form-element-padding">
                        <div class="panel-heading">
                            <h4>Thêm sản phẩm mới</h4>
                        </div>
                        <div class="panel-body" style="padding-bottom:30px;">

                            <div class="form-group" hidden="hidden">
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.MaSanPham, new { @class = "form-control" })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Tên SP</label>
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.TenSanPham, new { @class = "form-control" })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Giá</label>
                                <div class="col-sm-4">@Html.TextBoxFor(model => model.GiaSanPham, new { @class = "form-control", style = "width:200px", type ="number", min="100", @Value = "1000", step="100", })</div>
                                <label class="col-sm-6 control-label text-left" style="margin-top:8px; padding-left:0">VNĐ</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Ngày lập</label>
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.NgayLap, new { @class = "form-control", type = "date", style = "width:200px", @Value=DateTime.Today.ToString("yyyy-MM-dd") })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Xuất xứ</label>
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.XuatXu, new { @class = "form-control", style = "width:200px" }) </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">SL tồn</label>
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.SoLuongTon, new { @class = "form-control", style = "width:200px", type = "number", min = "1", @Value = "10" })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Loại sp</label>
                                <div class="col-sm-10">@Html.DropDownListFor(model => model.MaLoaiSanPham, new SelectList(lsp, "MaLoaiSanPham", "TenLoaiSanPham"), new { style = "margin-top:0; width:200px" })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Hãng sx</label>
                                <div class="col-sm-10">@Html.DropDownListFor(model => model.MaHangSanXuat, new SelectList(hsx, "MaHangSanXuat", "TenHangSanXuat"), new { style = "margin-top:0; width:200px" })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Hình 1</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.ImageUpLoad, new { @class = "form-control", type = "file" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Hình 2</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.ImageUpLoad0, new { @class = "form-control", type = "file" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Hình 3</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.ImageUpLoad1, new { @class = "form-control", type = "file" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Mô tả</label>
                                <div class="col-sm-10">@Html.TextAreaFor(model => model.MoTa, new { @class = "form-control", id = "MoTa" })</div>
                                <script type="text/javascript">CKEDITOR.replace("MoTa");</script>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px"></label>
                                <div class="col-sm-10" style="margin-top:10px;"><input value="Thêm" type="submit" class="btn btn-primary" /></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!-- end: content -->
