﻿@model Admin.ViewModel.ProductViewModels
@{
    IEnumerable<WineStoreConnection.HangSanXuat> hsx = WineStoreBUS.BUS.ProducerBUS.List();
    IEnumerable<WineStoreConnection.LoaiSanPham> lsp = WineStoreBUS.BUS.LoaiSPBUS.List();
}

@using (Html.BeginForm("Save", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="content">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3 class="animated fadeInLeft">ADMIN</h3>
                    <p class="animated fadeInDown">
                        <a href="~/Admin/Admin">QL Sản Phẩm </a> <span class="fa-angle-right fa"></span> Sửa
                    </p>
                </div>
            </div>
        </div>
        <div class="form-element">
            <div class="col-md-12 padding-0">
                <div class="col-md-8">
                    <div class="panel form-element-padding">
                        <div class="panel-heading">
                            <h4>Sửa sản phẩm</h4>
                        </div>
                        <div class="panel-body" style="padding-bottom:30px;">

                            <div class="form-group" hidden="hidden">
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.MaSanPham, new { @class = "form-control" })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Tên SP</label>
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.TenSanPham, new { @class = "form-control" })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Giá</label>
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.GiaSanPham, new { @class = "form-control", style = "width:200px", type = "number", min = "100", @Value = Model.GiaSanPham, step = "100" })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Ngày lập</label>
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.NgayLap, new { @class = "form-control", Value = Model.NgayLap.ToString("yyy-MM-dd"), type = "date", style = "width:200px" })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Xuất xứ</label>
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.XuatXu, new { @class = "form-control", style = "width:200px" }) </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">SL tồn</label>
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.SoLuongTon, new { @class = "form-control", style = "width:200px", type = "number", min = "1" })</div>
                            </div>                      
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Bị xóa</label>
                                <div class="col-sm-10">
                                    <div class="form-group form-animate-checkbox">
                                        @Html.CheckBoxFor(model => model.BiXoa, new { @class = "checkbox" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Loại sp</label>
                                <div class="col-sm-10">@Html.DropDownListFor(model => model.MaLoaiSanPham, new SelectList(lsp, "MaLoaiSanPham", "TenLoaiSanPham"), new { style = "margin-top:0; width:200px", @Value=Model.MaLoaiSanPham })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Hãng sx</label>
                                <div class="col-sm-10">@Html.DropDownListFor(model => model.MaHangSanXuat, new SelectList(hsx, "MaHangSanXuat", "TenHangSanXuat"), new { style = "margin-top:0; width:200px", @Value = Model.MaHangSanXuat })</div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Hình 1</label>
                                <div class="col-sm-10">
                                    <img src="~/Access/@Model.HinhURL1" width="70" style="display:block;" />
                                    <div class="col-md-10" style="padding:0; margin:10px 0 10px 0">
                                        @Html.TextBoxFor(modelv => modelv.ImageUpLoad, new { type = "file" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Hình 2</label>
                                <div class="col-sm-10">
                                    <img src="~/Access/@Model.HinhURL2" width="70" style="display:block;" />                                  
                                    <div class="col-md-10" style="padding:0; margin:10px 0 10px 0">
                                        @Html.TextBoxFor(modelv => modelv.ImageUpLoad0, new { type = "file" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Hình 3</label>
                                <div class="col-sm-10">
                                    <img src="~/Access/@Model.HinhURL3" width="70" style="display:block;" />
                                    <div class="col-md-10" style="padding:0; margin:10px 0 10px 0">
                                        @Html.TextBoxFor(modelv => modelv.ImageUpLoad1, new { type = "file" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px">Mô tả</label>
                                <div class="col-sm-10">@Html.TextAreaFor(model => model.MoTa, new { @class = "form-control text-editor", id = "MoTa" })</div>
                                <script type="text/javascript">CKEDITOR.replace("MoTa");</script>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right" style="margin-top:8px"></label>
                                <div class="col-sm-10" style="margin-top:10px;"><input value="Lưu" type="submit" class="btn btn-primary" /></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<!-- end: content -->