﻿@model IEnumerable<WineStoreConnection.SanPham>
@{
    IEnumerable<WineStoreConnection.HangSanXuat> hsx = WineStoreBUS.BUS.ProducerBUS.List();
    IEnumerable<WineStoreConnection.LoaiSanPham> lsp = WineStoreBUS.BUS.LoaiSPBUS.List();
}
<!-- start: content -->
<!-- start: Content -->
<div id="content">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">ADMIN</h3>
                <p class="animated fadeInDown">
                    <a href="~/Admin/Admin">QL Sản Phẩm </a> <span class="fa-angle-right fa"></span> Danh Sách SP
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading"><h3>@Html.ActionLink("Thêm", "Create")</h3></div>
                <div class="panel-body">
                    <div class="responsive-table">
                        <table id="datatables-example" class="table table-striped table-bordered" style="width:100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th> ID </th>
                                    <th>Tên</th>
                                    <th>URL1</th>
                                    <th>Giá</th>
                                    <th>Ngày lập</th>
                                    <th>Xuất xứ</th>
                                    <th>SL tồn</th>
                                    <th>SL bán</th>
                                    <th>Số lượt xem</th>
                                    <th>Bị xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td> @item.MaSanPham </td>   
                                        <td>@Html.ActionLink(item.TenSanPham, "Edit", new { id = item.MaSanPham }) </td>
                                        <td><img src="~/Access/@item.HinhURL1" width="70" /></td>
                                        <td>@item.GiaSanPham.ToString("#,##0")</td>
                                        <td>@Html.ValueFor(s => item.NgayLap, "{0:dd/MM/yyyy}")</td>
                                        <td>@Html.DisplayFor(s => item.XuatXu)</td>
                                        <td>@item.SoLuongTon.ToString("#,##0")</td>
                                        <td>@item.SoLuongBan.ToString("#,##0")</td>
                                        <td>@item.SoLuotXem.ToString("#,##0")</td>
                                        <td>
                                            <div class="form-group form-animate-checkbox">
                                                @Html.CheckBoxFor(s => item.BiXoa, new { @class = "checkbox", disabled = "" })
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end: content -->