﻿@model IEnumerable<WineStoreConnection.LoaiSanPham>
@{
    Layout = null;
}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <i class="fa fa-angle-double-down"></i> Loại Rượu  <span class="badge">5</span>
    </a>
    <ul class="dropdown-menu" role="menu">


        @foreach (var item in Model)
        {
            <li>

                @Html.ActionLink(item.TenLoaiSanPham, "Index", "LoaiSP", new { id = item.MaLoaiSanPham }, null)


            </li>
        }

    </ul>
</li>