﻿@model IEnumerable<WineStoreConnection.HangSanXuat>
    @{
        Layout = null;
    }

  
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-angle-double-down"></i>Hãng Sản xuất <span class="badge">6</span></a>

            <ul class="dropdown-menu" role="menu">
                @foreach (var Producer in Model)
                {
                    <li>

                        @Html.ActionLink(Producer.TenhangSanXuat, "Index", "Producer", new { id = Producer.MaHangSanXuat }, null)


                    </li>
                }
            </ul>
        </li>

