﻿@model PetaPoco.Page<WineStoreConnection.Comment>
@using Microsoft.AspNet.Identity
@using WineStoreConnection
@{
    Layout = null;

    var idpro = int.Parse(ViewData["idProduct"].ToString());
    var db = new WineStoreConnectionDB();
    WineStoreConnection.AspNetUser user = db.SingleOrDefault<WineStoreConnection.AspNetUser>("Select * from AspNetUsers where Id=@0", User.Identity.GetUserId());
}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1" id="logout">
        <div class="page-header">
            <h3 class="reviews">Comments </h3>

        </div>


        <div class="comment-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Comments</h4></a></li>
               @if (Request.IsAuthenticated)
{
                     <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Add comment</h4></a></li>
                }

               

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="comments-logout">
                    <ul class="media-list">

                        @if (Model.Items.Count>0)
                        {
                            
                            foreach(var item in Model.Items)
                            {

                                WineStoreConnection.AspNetUser usercmmt = db.SingleOrDefault<WineStoreConnection.AspNetUser>("Select * from AspNetUsers where Id=@0", item.IdUser);
                                
                                <li class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kurafire/128.jpg" alt="profile">
                            </a>
                            <div class="media-body">

                                <div class="well well-lg">
                                    <h4 class="media-heading text-uppercase reviews">@usercmmt.Name</h4>
                                    <ul class="media-date text-uppercase reviews list-inline">
                                        <li class="dd">@item.DateComment.Day</li>
                                        <li class="mm">@item.DateComment.Month</li>
                                        <li class="aaaa">@item.DateComment.Year</li>
                                    </ul>
                                    <p class="media-comment">
                                        @Html.Raw( item._Comment)
                                    </p>
                                    @if(item.UrlMedia!="")
                                    {
                                        
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="@item.UrlMedia" allowfullscreen></iframe>
                                    </div>
                                    }
                                   
                                    
                                </div>
                            </div>
                        </li>
                        }
                            
                            
                                
                            
                            
                        }
                        else
                        { 
                            <div >
                                 Chưa có bình luận nào hết bạn có muốn bình luận để chúng tôi cải thiện chất lượng?


                            </div>
                        }

                        
                        <div class="col-md-12">
                            <div class="product-pagination text-center">
                                <nav>
                                    <ul class="pagination">

                                        @for (int i = 1; i <= Model.TotalPages; i++)
                                        {
                                            <li><a href="/Product/Detail/@idpro?page=@i">@i</a></li>

                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>
                           
                        
                    </ul>
                </div>
               
                <div class="tab-pane" id="add-comment">
                    <form action="" method="post" class="form-horizontal" id="commentForm" role="form">


                             <input type="hidden" name="IdProduct" id="IdProduct" value="@idpro">
                            
                        
                       
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Bình luận</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="uploadMedia" class="col-sm-2 control-label">Upload media</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="input-group-addon">Http:</div>
                                    <input type="text" class="form-control" name="uploadMedia" id="uploadMedia">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Gửi </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
