﻿@model IEnumerable<WineStoreConnection.HangSanXuat>
@{
    ViewBag.Title = "Index";
}

<!-- start: Content -->
<div id="content">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">ADMIN</h3>
                <p class="animated fadeInDown">
                    <a href="~/Admin/ProducerAdmin">QL Hãng sản xuất </a><span class="fa-angle-right fa"></span>Danh Sách Hãng sản xuất 
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading"><h3>@Html.ActionLink("Thêm", "Create")</h3></div>
                <div class="panel-body">
                    <div class="responsive-table">
                        <table id="datatables-example" class="table table-striped table-bordered" style="width:100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Mã hãng sản xuất </th>
                                    <th>Tên</th>
                                    <th>Hình </th>
                                    <th>Bị xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.MaHangSanXuat </td>
                                        <td>@Html.ActionLink(item.TenhangSanXuat, "Edit", new { id = item.MaHangSanXuat }) </td>
                                        <td ><img style=" width:100; height:65px;" class='img-responsive' src='~/Access/@item.LogoURL' alt='Photo'></td>
                                        <td>
                                            <div class="form-group form-animate-checkbox">
                                                @Html.CheckBoxFor(m => item.BiXoa, new { @class = "checkbox", disabled = "" })
                                            </div>
                                            </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: content -->

