﻿

<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            <li>
                <img src="~/img/h4-slide1.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        Hennessy XO Exclusive Collection 2014 <span class="primary">   <strong>-50%</strong></span>
                    </h2>
                    <h4 class="caption subtitle"></h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Chi tiết </a>
                </div>
            </li>
            <li>
                <img src="~/img/h4-slide2.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        The Balvenie Thirty (30 years) <span class="primary">HOT <strong></strong></span>
                    </h2>
                    <h4 class="caption subtitle">Rượu Scotland tốt nhất </h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Chi tiết </a>
                </div>
            </li>
            <li>
                <img src="~/img/h4-slide3.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        Merry christmars <span class="primary">Khuyễn Mãi  <strong>Hấp Dẫn </strong></span>
                    </h2>
                    <h4 class="caption subtitle">Nhiều Sản phẩm giá tốt </h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Chi tiết </a>
                </div>
            </li>
            <li>
                <img src="~/img/h4-slide4.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        Chúc Mừng năm Mới  <span class="primary">An Khang  <strong>Thịnh Vượng </strong></span>
                    </h2>
                    <h4 class="caption subtitle">Nhiều Ưu Đãi Hấp Đẫn </h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Chi tiết </a>
                </div>
            </li>
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->


<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <i class="fa fa-check"></i>
                    <p>Hàng chất lượng cao </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-truck"></i>
                    <p>Miễn phí giao hàng </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fa fa-lock"></i>
                    <p>Thanh toán an toàn </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fa fa-gift"></i>
                    <p>Nhiều quà tặng</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End promo area -->
@Html.Action("AllProducer", "Producer")


@Html.Action("NewProduct", "Home")
<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @Html.Action("SellingProduct", "Home")
            @Html.Action("TopViewProduct", "Home")
            

        </div>
    </div>
</div> <!-- End product widget area -->
