﻿@model IEnumerable<WineStoreConnection.SanPham>
@{
    Layout = null;
}
<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Sản phẩm mới  </h2>
                    <form id="addToCart-form" method="post" action="">
                        <input type="hidden" id="txtProId" name="txtProId" />
                    </form>
                    <div class="product-carousel">

                        @foreach (var item in Model) { 
                             <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/Access/@item.HinhURL1" alt="">
                                <div class="product-hover">

                                    <a href="@Url.Action("AddItems", "Cart", new { Proid=@item.MaSanPham,quantity=1 })" class="add-to-cart-link" data-proid=""><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>


                                    @Html.ActionLink("Xem Chi Tiết ", "Detail", "Product", new { id = item.MaSanPham }, new { @class = "view-details-link" })
                                    
                                </div>
                            </div>

                            <h2><a href="@Url.Action("Detail", "Product", new { id = item.MaSanPham})"> @item.TenSanPham</a></h2>

                            <div class="product-carousel-price">
                                @{ System.Globalization.CultureInfo cul = System.Globalization.CultureInfo.GetCultureInfo("vi-VN"); }
                                <ins> @item.GiaSanPham.ToString("#,###", cul.NumberFormat) VNĐ</ins>
                            </div>
                        </div>
                        
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->
