﻿@model PetaPoco.Page<WineStoreConnection.SanPham>

@{
    ViewBag.Title = "Search";
    var a = int.Parse(ViewData["catid"].ToString());
    var b = int.Parse(ViewData["manuid"].ToString());
    var c = int.Parse(ViewData["price"].ToString());
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Action("SearchBar", "Home");

@if (Model.Items.Count > 0)
{
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <form id="addToCart-form" method="post" action="">
                <input type="hidden" id="txtProId" name="txtProId" />
            </form>




            <div class="row">

                @foreach (var item in Model.Items)
                {

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <img src="~/@item.HinhURL2" alt="@item.TenSanPham">
                            </div>
                            <h2><a href="@Url.Action("Detail", "Product", new { id=@item.MaSanPham}) ">@item.TenSanPham </a></h2>
                            <div class="product-carousel-price">
                                @{ System.Globalization.CultureInfo cul = System.Globalization.CultureInfo.GetCultureInfo("vi-VN"); }
                                <ins> @item.GiaSanPham.ToString("#,###", cul.NumberFormat) VNĐ</ins>
                            </div>


                            <div class="product-option-shop">
                                <a class="add_to_cart_button" id="btnAddToCart_@item.MaSanPham" data-proid="@item.MaSanPham" href="@Url.Action("AddItems", "Cart", new { Proid=@item.MaSanPham,quantity=1 })">Thêm vào giỏ</a>
                            </div>



                        </div>
                    </div>
                }

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                            <ul class="pagination">



                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li><a href="/Home/Search?selectCat=@a&selectManu=@b&pricerange=@c&page=@i&btnFilterCat=">@i</a></li>

                                }





                            </ul>
                        </nav>
                    </div>
                </div>
            </div>




        </div>
    </div>

}
else
{
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <form id="addToCart-form" method="post" action="">
                <input type="hidden" id="txtProId" name="txtProId" />
            </form>




            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert">Không Có sản phẩm nào  !</div>
                </div>

            </div>


        </div>
    </div>
}


