﻿
@{
    ViewBag.Title = "SearchBar";
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-7 FormSearch ">
            @{IEnumerable<WineStoreConnection.LoaiSanPham> dataCat = WineStoreBUS.BUS.LoaiSPBUS.List();
              IEnumerable<WineStoreConnection.HangSanXuat> dataManu = WineStoreBUS.BUS.ProducerBUS.List();
              
              
              }
            <form method="get" action="@Url.Action("Search","Home")" id="searchform">
                <select name="selectCat" size="1" id="pricerange">
                    <option value="0">Loại Sản phẩm   &nbsp;</option>
                    @foreach(var item in dataCat)
                    {
                        
                         <option value="@item.MaLoaiSanPham">@item.TenLoaiSanPham</option>
                    }
                   


                </select>
                <select name="selectManu" size="1" id="pricerange">
                    <option value="0">Hãng Sản xuất   &nbsp;</option>

                    @foreach (var item in dataManu)
                    {

                        <option value="@item.MaHangSanXuat">@item.TenhangSanXuat</option>
                    }



                </select>
                <select name="pricerange" size="1" id="pricerange">
                    <option value="0">Lọc theo giá  &nbsp;</option>
                    <option value="1">&nbsp;0 - 1 triệu</option>
                    <option value="2">&nbsp;1 - 5 triệu </option>
                    <option value="3">&nbsp;5 - 10 triệu </option>
                    <option value="4">&nbsp;Trên 10 triệu</option>

                </select>


                <button id="btnFilterCat" name="btnFilterCat" type="submit" class="btn btn-primary btn-xs "><i class="fa fa-search"></i></button>



            </form>
        </div>


    </div>
</div>

