﻿@model IEnumerable<WineStoreConnection.SanPham>
@{
    Layout = null;
}

<div class="col-md-12">
    <div class="single-product-widget">
        <h2 class="product-wid-title">Xem Nhiều Nhất  </h2>


        @foreach (var item in Model)
        {
             <div class="single-wid-product col-md-4">
            <a href=""><img src="~/Access/@item.HinhURL2" alt="" class="product-thumb"></a>
            <h2>@Html.ActionLink(@item.TenSanPham, "Detail", "Product", new { id = @item.MaSanPham }, null)</h2>

            <div class="product-wid-price">
                @{ System.Globalization.CultureInfo cul = System.Globalization.CultureInfo.GetCultureInfo("vi-VN"); }
                <ins> @item.GiaSanPham.ToString("#,###", cul.NumberFormat) VNĐ</ins>
            </div>

            <div>
                <a href="@Url.Action("AddItems", "Cart", new { Proid=@item.MaSanPham,quantity=1 })" class="btn btn-primary" role="button" data-proid="">
                    <i class="fa fa-shopping-cart"></i>
                    Đặt mua
                </a>
            </div>


        </div>
            
        }
       





    </div>
</div>

