﻿@model WineStoreConnection.SanPham


<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>
@if (@Model==null)
{
    <div class="single-product-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <form id="addToCart-form" method="post" action="">
                    <input type="hidden" id="txtProId" name="txtProId" />
                </form>

             
                
                   
                    <div class="row">
                         <div class="col-md-12">
                                    <div class="alert alert-info" role="alert">Không Có sản phẩm nào  !</div>
                                    </div>
                        
                    </div>     
                    
                
            </div>
        </div>
}
else
{
    
    <div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                @Html.Action("Top5ByProducer", "Product", new { id = @Model.MaHangSanXuat})

            </div>
            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="@Url.Action("Index","Home")">Trang chủ </a>
                        <a href="@Url.Action("Index", "LoaiSP", new { id = @Model.MaLoaiSanPham})">  @ViewBag.LoaiSanPham</a>
                        <a href="@Url.Action("Index", "Producer", new { id = @Model.MaHangSanXuat})"> @ViewBag.HangSanXuat</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="~/@Model.HinhURL1" alt="">
                                </div>

                                <div class="product-gallery">
                                    <img src="~/@Model.HinhURL1" alt="">
                                    <img src="~/@Model.HinhURL2" alt="">
                                    <img src="~/@Model.HinhURL3" alt="">
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">@Model.TenSanPham</h2>
                                <div class="product-inner-price">
                                    @{ System.Globalization.CultureInfo cul = System.Globalization.CultureInfo.GetCultureInfo("vi-VN"); }
                                    <ins> @Model.GiaSanPham.ToString("#,###", cul.NumberFormat) VNĐ</ins>
                                </div>
                                @using (Html.BeginForm("AddItemss", "Cart", FormMethod.Post, new { @class = "cart" }))
                                {
    
                                         <div class="quantity">

                                                        <input type="hidden" name="txtProIDCart" value="@Model.MaSanPham" >
                                                        <input type="number" class="" title="Qty" value="1" id="txtQuantity" name="txtQuantity" min="1" step="1">
                                         </div>
                                 
                                        
                                        <button class="add_to_cart_button" type="submit" name="btnAddToCart">Thêm vào giỏ </button>
                                    
                                   
                                     
                                }
                              
                                   
                           


                                <div class="product-inner-category">
                                    <p><i class="fa fa-eye"></i> :@Model.SoLuotXem   <i class="fa fa-shopping-cart"></i>: @Model.SoLuongBan  </p>

                                </div>
                                <div class="product-inner-category">
                                    <p>
                                        Thể loại : @ViewBag.LoaiSanPham <a href="">
                                        </a>. Xuất xứ: <a href="">@Model.XuatXu </a>,
                                        Hãng sản xuất :@ViewBag.HangSanXuat <a href=""></a>
                                    </p>
                                </div>

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Giới thiệu </a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="product-inner">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                                        <h2>Giới thiệu </h2>
                                        <p>
                                            @Html.Raw(Model.MoTa)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-12">

                            <div class="related-products-wrapper">
                                <h2 class="related-products-title">Sản phẩm cùng Loại </h2>
                                <div class="related-products-carousel">
                                    @Html.Action("Top5ByType", "Product", new { id = @Model.MaLoaiSanPham  })
                                </div>
                            </div>

                        </div>




                    </div>
                </div>

            </div>



        </div>
        @{
            
                  
                    int page = int.Parse(ViewData["page"].ToString());
        }
    
        @Html.Action("Index", "Comments", new { idproduct = Model.MaSanPham, page = page })
 
 
    
    
    </div>
    </div>
              
}
