﻿@model IEnumerable<WineStoreConnection.SanPham>
@{
    Layout = null;
}

<div class="single-sidebar">
    <h2 class="sidebar-title">Sản phẩm cùng Hãng </h2>
    @foreach (var item in Model)
    {
         <div class="thubmnail-recent">
        <img src="~/@item.HinhURL2" class="recent-thumb" alt="">
        <h2>@Html.ActionLink(@item.TenSanPham, "Detail", "Product", new { id = @item.MaSanPham }, null)</h2>
        <div class="product-sidebar-price">
            @{ System.Globalization.CultureInfo cul = System.Globalization.CultureInfo.GetCultureInfo("vi-VN"); }
            <ins> @item.GiaSanPham.ToString("#,###", cul.NumberFormat) VNĐ</ins>
           
        </div>
     </div>
        
    }
   



</div>

