﻿@model IEnumerable<WineStoreConnection.SanPham>
@{
    Layout = null;
}
@foreach (var item in Model)
{
    
    <div class="single-product">
    <div class="product-f-image">
        <img src="~/@item.HinhURL1" alt="">
        <div class="product-hover">
            <a href="@Url.Action("AddItems", "Cart", new { Proid=@item.MaSanPham,quantity=1 })" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ </a>
            @Html.ActionLink("Xem Chi Tiết ", "Detail", "Product", new { id = item.MaSanPham }, new { @class = "view-details-link" })
            
        </div>
    </div>

    <h2>@Html.ActionLink(@item.TenSanPham, "Detail", "Product", new { id = item.MaSanPham }, new { @class = "view-details-link" }) </h2>

    <div class="product-carousel-price">

        @{ System.Globalization.CultureInfo cul = System.Globalization.CultureInfo.GetCultureInfo("vi-VN"); }
    <ins> @item.GiaSanPham.ToString("#,###", cul.NumberFormat) VNĐ</ins>

    </div>
</div>
}




