﻿@model WineStoreConnection.AspNetUser
@{
    ViewBag.Title = "Edit";
}


@{
    ViewBag.Title = "Create";
}


      

@using (Html.BeginForm("Edit", "AspNetUsers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    <div id="content">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3 class="animated fadeInLeft">ADMIN</h3>
                    <p class="animated fadeInDown">
                        <a href="@Url.Action("Index","AspNetUsers")">QL Tài khoản  </a> <span class="fa-angle-right fa"></span> Sửa
                    </p>
                </div>
            </div>
        </div>
        <div class="form-element">
            <div class="col-md-12 padding-0">
                <div class="col-md-8">
                    <div class="panel form-element-padding">
                        <div class="panel-heading">
                            <h4>Sửa sản phẩm</h4>
                        </div>
                        <div class="col-md-12">
                        @if (ViewBag.ThongBao != null)
                        {
                            if (ViewBag.ThongBao == 1)
                            {
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="alert alert-success" role="alert">Cập nhật  thành công </div>
                                </div>
                            } else if(ViewBag.ThongBao ==2)
                            {
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="alert alert-warning" role="alert">Email Đã tồn tại không được thêm email này </div>
                                </div>
                                
                            }
                            else
                            {
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="alert alert-danger" role="alert"> Cập nhật thông tin thành công và Bạn không được phép thay đổi quyền của mình  </div>
                                </div>
                                
                            }
                           
                        }
                        </div>
                        <div class="panel-body" style="padding-bottom:30px;">

                            <div class="form-group" hidden="hidden">
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.Id, new { @class = "form-control" })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Email </label>
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.Email, new { @class = "form-control",type = "Email" })</div>
                             
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Họ Tên </label>
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Địa chỉ </label>
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.Address, new { @class = "form-control" })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Số điện thoại</label>
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.Phone, new { @class = "form-control"}) </div>
                               
                            </div>
                                             
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Bị xóa</label>
                                <div class="col-sm-10">
                                    <div class="form-group form-animate-checkbox">
                                        @Html.CheckBoxFor(model => model.BiXoa, new { @class = "checkbox" })
                                    </div>
                                </div>
                            </div>
                            @if (WineStoreBUS.BUS.AccountBUS.CheckRoles(Model))
                            {    <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Admin</label>
                                <div class="col-sm-10">
                                    <div class="form-group form-animate-checkbox">
                                       <input id="chkAdmin" name="chkAdmin" type="checkbox" class="checkbox" value="true" checked>
                                    </div>
                                </div>
                            </div>
                                
                            }
                            else
                            {
                                
                                 <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Admin</label>
                                <div class="col-sm-10">
                                    <div class="form-group form-animate-checkbox">
                                        <input id="chkAdmin" name="chkAdmin"  type="checkbox" class="checkbox" value="true">
                                    </div>
                                </div>
                            </div>
                            }
                            
                           
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right"></label>
                                <div class="col-sm-10" style="margin-top:10px;"><input id="btnChange" value="Lưu" type="submit" class="btn btn-primary" /></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

