﻿@using WineStoreConnection;
@model IEnumerable<AspNetUser>
@{
    ViewBag.Title = "Index";
}
<div id="content">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">ADMIN</h3>
                <p class="animated fadeInDown">
                    <a href="~/Admin/AspNetUsers">QL Tài khoản </a> <span class="fa-angle-right fa"></span> Danh Sách Tài khoản 
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading"><h3><a href="~/Admin/AspNetUsers">Danh sách tài khoản</a></h3> </div>
                <div class="panel-body">

                    <div class="responsive-table">
                        <table id="datatables-example" class="table table-striped table-bordered" style="width:100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Họ Tên </th>
                                    <th>Địa chỉ </th>
                                    <th>Số Điện Thoại</th>
                                    <th>Quyền </th>
                                    <td>Bị xóa</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.ActionLink(item.Id, "Edit", new { id = item.Id }) </td>
                                       
                                        <td>@Html.DisplayFor(s => item.Email)</td>
                                        <td>@Html.ValueFor(s => item.Name)</td>
                                        <td>@Html.DisplayFor(s => item.Address)</td>
                                        <td>@Html.DisplayFor(s => item.Phone   )</td>
                                        @if (WineStoreBUS.BUS.AccountBUS.CheckRoles(item))
                                        {
                                            <td> Admin </td>
                                        }
                                        else
                                        {

                                            <td>Khách Hàng </td>
                                        }
                                        <td>
                                            <div class="form-group form-animate-checkbox">
                                                @Html.CheckBoxFor(s => item.BiXoa, new { @class = "checkbox", disabled = "" })
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
