﻿@model WineStoreConnection.LoaiSanPham


@using (Html.BeginForm("Create", "TypeOfProductAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="content">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3 class="animated fadeInLeft">ADMIN   </h3>
                    <p class="animated fadeInDown">
                        <a href="~/Admin/TypeOfProductAdmin">QL Loại Sản Phẩm</a> <span class="fa-angle-right fa"></span> Thêm
                    </p>
                </div> 
            </div>
        </div>
        <div class="form-element">
            <div class="col-md-12 padding-0">
                <div class="col-md-8">
                    <div class="panel form-element-padding">
                        <div class="panel-heading">
                            <h4>Thêm loại sản phẩm mới</h4>
                        </div>
                        <div class="panel-body" style="padding-bottom:30px;">
                                                        
                            <div class="form-group">
                                 <label class="col-sm-2 control-label text-right" style="margin-top:8px">Tên loại SP</label>
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.TenLoaiSanPham, new { @class = "form-control" })</div>
                            </div>                           

                            <div class="form-group">
                                 <label class="col-sm-2 control-label text-right" style="margin-top:8px"></label>
                                <div class="col-sm-10" style="margin-top:10px;"><input value="Thêm" type="submit" class="btn btn-primary" /></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!-- end: content -->