﻿
@model WineStoreConnection.LoaiSanPham

@using (Html.BeginForm("Save", "TypeOfProductAdmin", FormMethod.Post))
{
    <div id="content">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3 class="animated fadeInLeft">ADMIN</h3>
                    <p class="animated fadeInDown">
                        <a href="~/Admin/TypeOfProductAdmin">QL Loại Sản Phẩm</a><span class="fa-angle-right fa"></span> Sửa
                    </p>
                </div>
            </div>
        </div>
        <div class="form-element">
            <div class="col-md-12 padding-0">
                <div class="col-md-8">
                    <div class="panel form-element-padding">
                        <div class="panel-heading">
                            <h4>Sửa loại sản phẩm</h4>
                        </div>
                        <div class="panel-body" style="padding-bottom:30px;">

                            <div class="form-group" hidden="hidden">
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.MaLoaiSanPham, new { @class = "form-control" })</div>
                            </div>
                            <div class="form-group">
                                 <label class="col-sm-2 control-label text-right" style="margin-top:8px">Tên loại SP</label>
                                <div class="col-sm-10">@Html.TextBoxFor(model => model.TenLoaiSanPham, new { @class = "form-control" })</div>
                            </div>
                            <div class="form-group">
                                 <label class="col-sm-2 control-label text-right" style="margin-top:8px">Bị xóa</label>
                                <div class="col-sm-10">
                                    <div class="form-group form-animate-checkbox">
                                       @Html.CheckBoxFor(model => model.BiXoa, new { @class = "checkbox" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                 <label class="col-sm-2 control-label text-right" style="margin-top:8px"></label>
                                <div class="col-sm-10"><input value="Lưu" type="submit" class="btn btn-primary" /></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- end: content -->