﻿@using Microsoft.AspNet.Identity;
@using WineStoreConnection;
@{
    ViewBag.Title = "Changepassword";
    if (!Request.IsAuthenticated)
    {

        Response.Redirect("~/Home/Index");
    }
    var db = new WineStoreConnectionDB();
    WineStoreConnection.AspNetUser user = db.SingleOrDefault<WineStoreConnection.AspNetUser>("Select * from AspNetUsers where Id=@0", User.Identity.GetUserId());
   
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Change Password</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">

                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            @user.Name
                        </div>
                        <div class="profile-usertitle-job">
                            @user.Phone
                        </div>
                    </div>

                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a href="@Url.Action("Profile","Account")">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Thông tin tài khoản
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ProfileEdit","Account")">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Chỉnh sửa tài khoản
                                </a>
                            </li>
                            <li class="active">
                                <a href="@Url.Action("Changepassword", "Account")" target="_blank">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    Đổi mật khẩu
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("HistoryCarts","Account")">
                                    <i class="glyphicon glyphicon-flag"></i>
                                    Lịch sử mua hàng
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 col col-sm-12">
                <div class="profile-content">
                  
                    @if (ViewBag.ThongBao != null)
                    {
                        if (ViewBag.ThongBao == 1)
                        {
                             <div class="alert alert-success" role="alert">
                            <a href="#" class="alert-link">Cập nhật thành công </a>
                          </div>
                            
                        }
                        else
                        {
                            
                             <div class="alert alert-danger" role="alert">
                            <a href="#" class="alert-link">Cập nhật không thành công kiểm tra lại mật khẩu  </a>
                         </div>
                        }
                        
                    

                        
                        
                    }
                    
                  


                    <div class="">
                        <form method="POST" action="" name="frmOrder" id="frmOrder" class="shipping_calculator cd-form">

                            <h2><a class="shipping-calculator-button" data-toggle="collapse" href="#calcalute-shipping-wrap" aria-expanded="false" aria-controls="calcalute-shipping-wrap">Chỉnh sửa Tài Khoản  </a></h2>


                            <p class="fieldset">
                                <label class="image-replace cd-password" for="oldpassword">Mật khẩu cũ   </label>
                                <input class="full-width has-padding has-border" name="oldpassword" id="oldpassword" type="password" placeholder="Mật khẩu cũ " value="">
                                <span class="cd-error-message">Nhập lại mật khẩu  </span>
                            </p>
                            <p class="fieldset">
                                <label class="image-replace cd-password" for="newpassword">Mât khẩu mới   </label>
                                <input class="full-width has-padding has-border" name="newpassword" id="newpassword" type="password" placeholder="Mật khẩu mới   " value="">
                                <span class="cd-error-message">Chưa nhập mật khẩu hoặc mật khẩu trên 8 kí tự  </span>
                            </p>


                            <p class="fieldset">
                                <label class="image-replace cd-password" for="configpassword">Số Điện thoại  </label>
                                <input class="full-width has-padding has-border" name="configpassword" id="configpassword" type="password" placeholder="Nhập lại mật khẩu " value="">
                                <span class="cd-error-message">Nhập lại sai  </span>
                            </p>






                            <p><button class="button" value="1" id="btnOK" name="btnOK" type="submit">Đồng ý</button></p>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

