﻿@model IEnumerable<WineStoreConnection.DonDatHang>

@using Microsoft.AspNet.Identity;
@using WineStoreConnection;
@{
    ViewBag.Title = "Profile";


    if (!Request.IsAuthenticated)
    {

        Response.Redirect("~/Home/Index");
    }

    System.Globalization.CultureInfo cul = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");


    var db = new WineStoreConnectionDB();
    WineStoreConnection.AspNetUser user = db.SingleOrDefault<WineStoreConnection.AspNetUser>("Select * from AspNetUsers where Id=@0", User.Identity.GetUserId());

}







<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>History Orders</h2>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">

                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            @user.Name
                        </div>
                        <div class="profile-usertitle-job">
                            @user.Phone
                        </div>
                    </div>

                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a href="@Url.Action("Profile","Account")">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Thông tin tài khoản
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ProfileEdit","Account")">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Chỉnh sửa tài khoản
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Changepassword","Account")">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    Đổi mật khẩu
                                </a>
                            </li>
                            <li class="active">
                                <a href="@Url.Action("HistoryCarts","Account")">
                                    <i class="glyphicon glyphicon-flag"></i>
                                    Lịch sử mua hàng
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 col col-sm-12">
                <div class="profile-content">
                    <div class="">
                        <table cellspacing="0" class="shop_table cart">
                            <thead>
                                <tr>

                                    <th class="product-name">Mã đơn hàng </th>
                                    <th class="product-name">Ngày Lập  </th>
                                    <th class="product-price">Tổng thành tiền  </th>
                                    <th class="product-quantity">Tình trạng  </th>

                                    <th class="product-remove">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {

                                    <tr class="cart_item">


                                        <td class="product-name"> @item.MaDonDatHang</td>

                                        <td class="product-name">
                                            <a href="">@item.NgayLap.ToString("dd/MM/yyyy")</a>
                                        </td>

                                        <td class="product-price">
                                            <span class="amount">
                                                @item.TongThanhTien.ToString("#,###", cul.NumberFormat)  VNĐ
                                            </span>
                                        </td>

                                        <td class="product-name">
                                            @WineStoreBUS.BUS.OrdersBUS.LoadTinhTrang(item.MaTinhTrang)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#exampleModal_@item.MaDonDatHang" data-whatever=""><i class="fa fa-check"></i></button>
                                            <div class="modal fade" id="exampleModal_@item.MaDonDatHang" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title" id="exampleModalLabel">Chi tiết sản phẩm </h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <table cellspacing="0" class="shop_table cart">
                                                                <thead>
                                                                    <tr>

                                                                        <th class="product-thumbnail">Hình   </th>
                                                                        <th class="product-name">Tên sản phẩm   </th>

                                                                        <th class="product-price">Giá bán   </th>
                                                                        <th class="product-quantity">Số lượng </th>
                                                                        <th class="product-price">Thành tiền   </th>

                                                                    
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    @{IEnumerable<ChiTietDonDatHang> ds = WineStoreBUS.BUS.OrderDetails.LoadOrderDetailById(item.MaDonDatHang);


                                                                    }
                                                                    @foreach (var item1 in ds)
                                                                    {
                                                                        <tr class="cart_item">

                                                                            @{SanPham sp = WineStoreBUS.BUS.ProductBUS.GetbyID(item1.MaSanPham);}
                                                                            <td class="product-thumbnail">
                                                                                <img width="145" height="145" alt="@sp.TenSanPham" class="shop_thumbnail" src="~/Access/@sp.HinhURL2">
                                                                            </td>

                                                                            <td class="product-name">
                                                                                <a href="">@sp.TenSanPham</a>
                                                                            </td>

                                                                            <td class="product-price">
                                                                                <span class="amount">
                                                                                    @item1.GiaBan.ToString("#,###", cul.NumberFormat)  VNĐ
                                                                                </span>
                                                                            </td>

                                                                            <td class="product-quantity">
                                                                                <span class="amount">

                                                                                    @item1.SoLuong
                                                                                </span>
                                                                            </td>

                                                                            <td class="product-subtotal">
                                                                                <span class="amount">

                                                                                    @item1.ThanhTien.ToString("#,###", cul.NumberFormat)  VNĐ
                                                                                </span>
                                                                            </td>


                                                                        </tr>

                                                                    }


                                                                </tbody>
                                                            </table>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>


                                }


                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>