﻿
@{
    Layout = null;
}
<div id="cd-login">


    <div id="mssgerror" class="alert alert-danger" role="alert">Email hoặc mật khẩu không đúng hoặc tài khoản đã bị khóa </div>
    <!-- log in form -->
    <form class="cd-form" action="" method="POST">
        <p class="fieldset">
            <label class="image-replace cd-email" for="signin-email">E-mail</label>
            <input class="full-width has-padding has-border" id="signin-email" name="signin-email" type="email" placeholder="E-mail">
            <span class="cd-error-message">Chưa Nhập Email </span>
        </p>

        <p class="fieldset">
            <label class="image-replace cd-password" for="signin-password">Mật khẩu </label>
            <input class="full-width has-padding has-border" name="signin-password" id="signin-password" type="password" placeholder="Mật khẩu ">
            <span class="cd-error-message">Mật khẩu không rỗng và lớn hơn 8 kí </span>
        </p>



        <p class="fieldset">
            <input type="checkbox" id="remember-me" name="remember-me" checked>
            <label for="remember-me">Ghi nhớ tài khoản </label>
        </p>


        <p class="fieldset">
            <input class="full-width" type="submit" id="btnLogin" name="btnLogin" value="Đăng nhập ">
        </p>
    </form>

    <p class="cd-form-bottom-message"><a href="#0">Quên mật khẩu ?</a></p>

    <a href="#0" class="cd-close-form">Close</a>



   
    
</div> <!-- cd-login -->
@section scripts{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
   
}