﻿
@model WineStoreConnection.AspNetUser
@{
    ViewBag.Title = "Profile";
 

}




<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Setting Profile</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">

                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            @Model.Name
                        </div>
                        <div class="profile-usertitle-job">
                            @Model.Phone
                        </div>
                    </div>

                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a href="@Url.Action("Profile","Account")">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Thông tin tài khoản
                                </a>
                            </li>
                            <li class="active">
                                <a href="@Url.Action("ProfileEdit","Account")">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Chỉnh sửa tài khoản
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Changepassword", "Account")" target="_blank">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    Đổi mật khẩu
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("HistoryCarts","Account")">
                                    <i class="glyphicon glyphicon-flag"></i>
                                    Lịch sử mua hàng
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>

            <div class="col-xs-12 col-md-8 col-md-offset-1 col col-sm-12">
                <div class="profile-content">
                    @if (ViewBag.ThongBao != null)
                    {
                        if (ViewBag.ThongBao == 1)
                        {
                            <div class="alert alert-success" role="alert">
                                <a href="#" class="alert-link">Cập nhật thành công </a>
                            </div>

                        }
                        else
                        {

                            <div class="alert alert-danger" role="alert">
                                <a href="#" class="alert-link">Email đã tồn tại vui lòng nhập Email khác.  </a>
                            </div>
                        }





                    }






                    <div class="">
                        @using (Html.BeginForm("ProfileEdit", "Account", FormMethod.Post, new { @class = "shipping_calculator cd-form" }))
                        {
                        <h2><a class="shipping-calculator-button" data-toggle="collapse" href="#calcalute-shipping-wrap" aria-expanded="false" aria-controls="calcalute-shipping-wrap">Chỉnh sửa Tài Khoản  </a></h2>
                        
                       
                      

                          
                             <p class="fieldset">
                               
                                @Html.TextBoxFor(m => m.Id, new { type="hidden" })
                                
              
                            </p>
                            <p class="fieldset">
                               
                                @Html.TextBoxFor(m => m.PasswordHash, new { type="hidden" })
                                
              
                            </p>
                           
                           
                            
                            <p class="fieldset">
                                @Html.LabelFor(m => m.Address, new { @class = "image-replace cd-address" })
                                @Html.TextBoxFor(m => m.Address, new { @class = "full-width has-padding has-border", id = "useraddress", placeholder = "Địa chỉ " })
                                
                              
                                <span class="cd-error-message">Chưa có địa chỉ vui lòng nhập vào  </span>
                            </p>
                            <p class="fieldset">
                                @Html.LabelFor(m => m.Name, new { @class = "image-replace cd-username" })
                                @Html.TextBoxFor(m => m.Name, new { @class = "full-width has-padding has-border", id = "nameuser", placeholder = "Tên hiển thị " })
                                
                                <span class="cd-error-message">Chưa Nhập Họ và Tên  </span>
                            </p>


                            <p class="fieldset">
                                @Html.LabelFor(m => m.Phone, new { @class = "image-replace cd-phone" })
                                @Html.TextBoxFor(m => m.Phone, new { @class = "full-width has-padding has-border", id = "phonenumber", placeholder = "Điện thoại" }),
                                
                                <span class="cd-error-message">Chưa có số điện thoại  </span>
                            </p>
                            <p class="fieldset">
                                @Html.LabelFor(m => m.Email, new { @class = "image-replace cd-email" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "full-width has-padding has-border", id = "emailpro", placeholder = "Email" })


                                
                                <span class="cd-error-message">Chưa nhập email  </span>
                            </p>





                            <p><button class="button" value="1" id="btnCheckout" name="btnCheckout" type="submit">Cập nhật </button></p>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


