﻿@using Microsoft.AspNet.Identity;
@using WineStoreConnection;
@{
    ViewBag.Title = "Profile";
   
    
    if (!Request.IsAuthenticated)
    {

        Response.Redirect("~/Home/Index");
    }

    System.Globalization.CultureInfo cul = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");


    var db = new WineStoreConnectionDB();
    WineStoreConnection.AspNetUser user = db.SingleOrDefault<WineStoreConnection.AspNetUser>("Select * from AspNetUsers where Id=@0", User.Identity.GetUserId());

}


 
    
        
        
    
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Profile</h2>
                </div>
            </div>
        </div>
    </div>
</div>

        



<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">

                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                           @user.Name
                        </div>
                        <div class="profile-usertitle-job">
                          @user.Phone
                        </div>
                    </div>

                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="@Url.Action("Profile","Account")">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Thông tin tài khoản
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ProfileEdit","Account")">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Chỉnh sửa tài khoản
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Changepassword","Account")" >
                                    <i class="glyphicon glyphicon-ok"></i>
                                    Đổi mật khẩu
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("HistoryCarts","Account")">
                                    <i class="glyphicon glyphicon-flag"></i>
                                    Lịch sử mua hàng
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 col col-sm-12">
                <div class="profile-content">
                    <div class="">
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i>@user.Name</li>
                            <li class="list-group-item">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                @{
                                    if(User.IsInRole("Admin"))
                                    {
                                        
                                        @:Admin
                                    }
                                    else
                                    {
                                       @: Khách hàng 
                                    }
                                        
                                }
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                @{
                                    if(user.Address == null)
                                    {
                                      @:Chưa cập nhật
                                        
                                    }
                                    else
                                    {
                                      @user.Address
                                    }
                                    
                                }
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-phone"></i> 
                                @{
                                    if (user.Phone == null)
                                    {
                                      @:Chưa cập nhật
                                    }
                                    else
                                    {
                                       @user.Phone
                                    }
                                }
                            </li>
                            <li class="list-group-item"><i class="fa fa-envelope"></i> @user.Email</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>