﻿
@{
    Layout = null;
}
<div id="cd-signup">
    <!-- sign up form -->
    <form class="cd-form" action="" method="POST">
        <p class="fieldset">
            <label class="image-replace cd-username" for="signup-username">Họ tên </label>
            <input class="full-width has-padding has-border" name="signup-username" id="signup-username" type="text" placeholder="Họ Tên ">
            <span class="cd-error-message">Nhập vào tên Họ và Tên </span>
        </p>

        <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">E-mail</label>
            <input class="full-width has-padding has-border" name="signup-email" id="signup-email" type="email" placeholder="E-mail">
            <span class="cd-error-message">Lỗi Email </span>
        </p>

        <p class="fieldset">
            <label class="image-replace cd-password" for="signup-password">Mật khẩu </label>
            <input class="full-width has-padding has-border" name="signup-password" id="signup-password" type="password" placeholder="Mật khẩu ">
            <span class="cd-error-message">Mật khẩu không rỗng và trên 8 kĩ tự </span>
        </p>
        <p class="fieldset">
            <label class="image-replace cd-password" for="signup-confirmpwd">Mật khẩu </label>
            <input class="full-width has-padding has-border" name="signup-confirmpwd" id="signup-confirmpwd" type="password" placeholder="Nhập Lại Mật khẩu ">
            <span class="cd-error-message">Mật khẩu nhập lại sai  </span>
        </p>



      

        <p class="fieldset">
            <input id="remember-me" type="checkbox" >
            <label for="accept-terms">Tôi đồng ý với  <a href="#0">Điều khoản </a></label>
        </p>

        <p class="fieldset">
            <input class="full-width has-padding" name="btnDangKy" id="btnDangKy" type="submit" value="Tạo tài khoản ">
        </p>
    </form>

    <a href="#0" class="cd-close-form">Close</a>
</div> <!-- cd-signup -->
